/* Catppuccin Mocha */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @surface0;
}

.notification-row {
  outline: none;
  margin: 10px;
  padding: 0;
}

.notification {
  background: rgba(24, 24, 37, 0.8); /* Mantle transparent */
  padding: 0;
  margin: 0px;
  border: 1px solid @surface0;
  border-radius: 12px;
}

.notification-content {
  background: transparent;
  padding: 10px;
  border-radius: 12px;
}

.close-button {
  background: @red;
  color: @base;
  text-shadow: none;
  padding: 0;
  border-radius: 6px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: @peach;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 12px;
}

.notification-action {
  border-top: none;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @subtext0;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  color: @subtext1;
  text-shadow: none;
}

.control-center {
  background: rgba(30, 30, 46, 0.8); /* Base transparent */
  border: 2px solid @surface0;
  color: @text;
  border-radius: 16px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.control-center-list-placeholder-title {
  color: @text;
  font-size: 20px;
  font-weight: 700;
}

.control-center-list-placeholder-subtitle {
  color: @subtext0;
  font-size: 15px;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: rgba(0, 0, 0, 0.1);
}

.widget-title {
  color: @text;
  background: @mantle;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  border-radius: 12px;
}

.widget-title>button {
  font-size: 1.0rem;
  color: @text;
  text-shadow: none;
  background: @surface0;
  border: 1px solid @surface1;
  box-shadow: none;
  border-radius: 8px;
}

.widget-title>button:hover {
  background: @red;
  color: @base;
}

.widget-dnd {
  color: @text;
  background: @mantle;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 8px;
  background: @surface0;
  border: 1px solid @surface1;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: @mauve;
}

.widget-dnd>switch slider {
  background: @text;
  border-radius: 6px;
}

.widget-dnd>switch:checked slider {
  background: @base;
}
